<a href="https://colab.research.google.com/github/JuanRoccia/Introduction-to-Python-Programming/blob/main/TP3_Listas_CicloFor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Trabajo Práctico 3 Listas y el ciclo for (no entregable)***

# ***Ejercicio 1***

In [ ]:
valorInicial = int(input("ingrese un numero entero inicial: "))
valorFinal = int(input("ingrese un numero entero final: "))
paso = int(input("ingrese intervalo entre numeros: "))
lista = []
for i in range(valorInicial,valorFinal + 1,paso):  
  lista.append(i)
print(lista)

# AHORA SEEEE

ingrese un numero entero inicial: 10
ingrese un numero entero final: 30
ingrese intervalo entre numeros: 5
[10, 15, 20, 25, 30]

In [ ]:
lista = []
valor_Inicial = 10
paso = 5
valor_Final = 30
lista.extend([valor_Inicial,valor_Inicial+paso,valor_Final-valor_Inicial,valor_Final-paso,valor_Final])
print(lista)

[10, 15, 20, 25, 30]

# ***Ejercicio 2***

In [ ]:
# Inciso a)

primerValor = int(input('primer valor: '))
cantidadValores = int(input('cantidad de valores: '))

for algo in range(cantidadValores):
  primerValor += 2
  print(primerValor-2)

primer valor: 6
cantidad de valores: 5
6
8
10
12
14

In [ ]:
# Inciso b)

primerValor = int(input('primer valor: '))
cantidadValores = int(input('cantidad de valores: '))

for algo in range(cantidadValores):
  print(primerValor)
  primerValor *= (-1)

primer valor: 8
cantidad de valores: 5
8
-8
8
-8
8

In [ ]:
# Inciso c)

primerValor = int(input('primer valor: '))
cantidadValores = int(input('cantidad de valores: '))

for algo in range(cantidadValores):
  primerValor -= 1
  print(primerValor+1)

primer valor: 9
cantidad de valores: 5
9
8
7
6
5

# ***Ejercicio 3***

In [ ]:
myList = [4,8,10,-1,0,-8,5,4]

# Mayor y menor
mayor = 2
print(f'Mayor elemento en lista: {myList[mayor]}')
menor = 5
print(f'Menor elemento en lista: {myList[menor]}')
print()

# Cantidad de elementos
print(f'Cantidad de elementos en lista: {len(myList)}')
print()

# Esta o no en lista
dato = int(input('Ingresar numero entero: '))
if dato in myList:
  print(f'El elemento "{dato}" se encuentra en lista.')
else:
  print(f'El elemento {dato} no se encuentra en lista.')
print()

# A que elemento pertenece
position = int(input('''Ingrese una posición entera de 0 a 7.
Para saber a que elemento pertenece: '''))
print(f'La posicion ingresada pertenece al elemento: {myList[position]}')
print()

# Eliminar un valor
print(f'Lista: {myList}\nPara eliminar un elemento de la lista,')
delete = int(input('Ingrese el numero correspondiente: '))
myList.remove(delete)
print(f'Elementos restantes: {len(myList)}')
print(f'Lista: {myList} ')

# Valores duplicados
duplicado = int(input())
if duplicado +1 in myList:
  print(f'{duplicado} esta en la lista duplicado.')
else:
  print(f'El numero {duplicado}, no esta duplicado. ')

5
El numero 5, no esta duplicado.

# ***Ejercicio 4***

In [ ]:
palabra = ['o','d','n','u','M','a','l','o','H']
invertir = 9
for i in range(9):
  invertir -= 1
  print(palabra[invertir])

H
o
l
a
M
u
n
d
o

In [ ]:
palabra = ['o','d','n','u','M','a','l','o','H']
palabra.reverse()
palabra

['H', 'o', 'l', 'a', 'M', 'u', 'n', 'd', 'o']

# ***Ejercicio 5***

In [ ]:
listaNumero = []
suma = 0
numero = int(input("ingrese la cantidad de valores que desea: "))
if numero>0 and numero<=10:
	for i in range(numero):
		numeroIngresado = int(input("ingrese numero: "))
		suma += numeroIngresado
		listaNumero.append(numeroIngresado)
	promedio = suma / len(listaNumero)
	print("el proemdio es: ",promedio)
	print(listaNumero)	
else:
	print("cantidad de numeros incorrectos")

ingrese la cantidad de valores que desea: 5
ingrese numero: 5
ingrese numero: 3
ingrese numero: 1
ingrese numero: 6
ingrese numero: 9
el proemdio es:  4.8
[5, 3, 1, 6, 9]

# ***Ejercicio 6***

In [ ]:
numero = int(input("ingrese un numero entre 5 y 20: "))

escalera = ""

for n in range(1,numero+1):
	escalera = str(n) + escalera
	print(escalera)

ingrese un numero entre 5 y 20: 17
1
21
321
4321
54321
654321
7654321
87654321
987654321
10987654321
1110987654321
121110987654321
13121110987654321
1413121110987654321
151413121110987654321
16151413121110987654321
1716151413121110987654321

# ***Ejercicio 7***

In [ ]:
Producto = ['Sal','Jabón','Fideo','Arroz','Pasta dental'] 
Cantidad = [1,4,2,9,1]
PrecioUnidad = [45.50,34.5,98.0,68.5,201.0]
Costo = []


for x,y in zip(Cantidad,PrecioUnidad):
  Costo.append(x*y)

Total = sum(Costo)

print(f'\033[1m PRODUCTO \033[0m       \033[1m CANTIDAD \033[0m     \033[1m COSTO \033[0m \n')

for x,y,z in zip(Producto,Cantidad,Costo):
  print(f' {x:15} {y:5} {z:15} \n')

print(f'''\033[36m=======================================\033[0m \n
 \033[1m{'TOTAL':15}{Total:22}\033[0m 
''')

 PRODUCTO         CANTIDAD       COSTO

 Sal                 1            45.5

 Jabón               4           138.0

 Fideo               2           196.0

 Arroz               9           616.5

 Pasta dental        1           201.0

=======================================

 TOTAL                          1197.0

In [ ]:
print(f'''
PRODUCTO          CANTIDAD      COSTO
{Producto[0]}               {Cantidad[0]}             {Costo[0]}
{Producto[1]}             {Cantidad[1]}             {Costo[1]}
{Producto[2]}             {Cantidad[2]}             {Costo[2]}
{Producto[3]}             {Cantidad[3]}             {Costo[3]}
{Producto[4]}      {Cantidad[4]}             {Costo[4]}
======================================
TOTAL                           {Total}
 ''')

# ***Ejercicio 8***

In [ ]:
lista1 = [0,5,8,'perro','gato','jirafa',5.7,True]

lista2 = [6,7,8,'miau','gato',False,True]



# Elementos en común: lista 3
# Elementos que no comparte: lista 4
# Elementos complementarios: lista 5

lista3 = []
lista4 = []
lista5 = []

for x in lista1:
  if x in lista2:
    lista3.append(x)
  elif x not in lista2:
    lista4.append(x)

for x,y in zip(lista2,lista1):
  if y in lista1:     
    lista5.append(y)
  if x not in lista1:
    lista5.append(x)
 
print(lista3)
print(lista4)
print(lista5)
# print([0,5,6,7,8,'perro','gato','miau','jirafa',5.7,True,False])

[0, 8, 'gato', True]
[5, 'perro', 'jirafa', 5.7]
[0, 6, 5, 7, 8, 'perro', 'miau', 'gato', 'jirafa', 5.7]

# ***Ejercicio 9***

In [ ]:
lista = [62,78,37,51,49,62,46,76,35,48,81,1,92,82,86]
lista_pares = []
lista_impares = []

for x in lista:
  if x%2 == 0:
    lista_pares.append(x)
  else:
    lista_impares.append(x)

print(f'lista original: {lista}\nLos numeros pares son: {lista_pares}')
print(f'Los numero impares de la lista son: {lista_impares}')

lista original: [62, 78, 37, 51, 49, 62, 46, 76, 35, 48, 81, 1, 92, 82, 86]
Los numeros pares son: [62, 78, 62, 46, 76, 48, 92, 82, 86]
Los numero impares de la lista son: [37, 51, 49, 35, 81, 1]

# ***Ejercicio 10***

In [ ]:
lista = [5,7,8,10,11,12,13,15,16,17,20]

lista_Faltantes = []

Faltantes_pares = []

for x in range(lista[0],lista[-1]):
  if x not in lista:
    lista_Faltantes.append(x)

for y in lista:
  if y%2 == 0:
    Faltantes_pares.append(y)

print(f'De los numeros de la lista: {lista}\nFaltan los numeros: {lista_Faltantes}')
print(f'y sus pares son: {Faltantes_pares}')

De los numeros de la lista: [5, 7, 8, 10, 11, 12, 13, 15, 16, 17, 20]
Faltan los numeros: [6, 9, 14, 18, 19]
y sus pares son: [8, 10, 12, 16, 20]

# ***Ejercicio 11***

In [ ]:
# Calcular inflacion promedio de:
# se hace calculando porcentaje de aumento de cada producto.

productos = ['galletitas','cereal','huevos','acelga']
precios_mes_pasado = [300,417,290,238]
precios_ahora = [400,527,390,338]
inflacion = []

for x,y in zip(precios_mes_pasado,precios_ahora):
  esto = y / x *100
  inflacion.append(esto)

print('\033[1m Productos       Pasado       Actual       Inflacion\033[0m')
for w,x,y,z in zip(productos,precios_mes_pasado,precios_ahora,inflacion):
  print(f' {w:15} {x} $ {y:10} $ {z:25} % ')

promedio = sum(inflacion) / len(inflacion)
print(f'\nLa inflacion promedio es de: \033[1m{int(promedio)}%\033[0m')

 Productos       Pasado       Actual       Inflacion
 galletitas      300 $        400 $        133.33333333333331 %
 cereal          417 $        527 $        126.37889688249399 %
 huevos          290 $        390 $        134.48275862068965 %
 acelga          238 $        338 $        142.01680672268907 %

La inflacion promedio es de: 134%

# ***Ejercicio 12***

In [ ]:
# Un programa que genere listas a partir de inputs:

lista_Productos = []
lista_Precios = []

print('Para finalizar ingresar 0')
producto = input('Ingresar producto: ')
precio = float(input('Ingresar precio: '))

while precio != float(0):
  lista_Productos.append(producto)
  lista_Precios.append(precio)
  producto = input('Ingresar producto: ')
  precio = float(input('Ingresar precio: '))

for x,y in zip(lista_Productos,lista_Precios):
  print(f' {x:15} {y:15} ')

Ingresar producto: potatoe
Ingresar precio: 200
Ingresar producto: chesse
Ingresar precio: 300
Ingresar producto: chocolate
Ingresar precio: 500
Ingresar producto: milk
Ingresar precio: 200
Ingresar producto: yogurt
Ingresar precio: 350
Ingresar producto: 0
Ingresar precio: 0
 potatoe                   200.0
 chesse                    300.0
 chocolate                 500.0
 milk                      200.0
 yogurt                    350.0

In [ ]:
# ocultar prints
import os, sys

class HiddenPrints:
    def __enter__(self):
        self._original_stdout = sys.stdout
        sys.stdout = open(os.devnull, 'w')

    def __exit__(self, exc_type, exc_val, exc_tb):
        sys.stdout.close()
        sys.stdout = self._original_stdout
        
with HiddenPrints():
  print('Will not be printed')

print('Will be printed')

Will be printed

In [ ]:
#  input password
from getpass import getpass
password = getpass()

··········